<page-components>

  <div class="sm-ta:l p-rl:5pc
    m:40px-0-25px-0_h1 c:grey_h1 fw:300_h1 bd-b:2px-ds-grey200_h1
    fw:600_p m:20px-0-10px_p
    ws:pl_pre ww:nm_pre bg:greya1_pre p:10px_pre dp:ib_pre ta:l_pre
    m:10px-0_button p:10px-20px_button mnw:150px_button c:white_button tr:uc_button fw:600_button fs:80pc_button br:2px_button">


    <div class="p:20px w,h:100px_span m:20px_span bg:white_span bg:white ta:c ts:bs_span">
      <input placeholder="place for text" class="p:20px bg:white bs:2 fc-bs:3 ts:bs bd-w:1px bd-c:ts fc-bd-c:prima3" /> <br/>

      <span class="bs:1 hv-bs:3" />
      <span class="bs:2 hv-bs:3" />
      <span class="bs:3 hv-bs:4" />
      <span class="bs:4 hv-bs:5" />
      <span class="bs:5 hv-bs:4" />
      <span class="bs:6 hv-bs:5" />
      <span class="bs:7 hv-bs:6" />
      <span class="bs:8 hv-bs:7" />
      <span class="bs:9 hv-bs:8" />
      <span class="bs:10 hv-bs:9" />
      <div class="p:100px bg:lg-90dg-red-yellow bg:white-! c:rgb-0-0-0 fc-rot:1080dg bs:5 hv-p:150px ts:p w:clc(100pc-20px) bs:0-10px-20px-000a2,0-5px-30px-000a3">
        <i class="fu-poinout" />
      </div>
    </div>

    <h1>elem-text3</h1>
    <p>element which transforms any inner component to editable field</p>

    <elem-text3 path="html.elem-text3">
      <pre>{ opts.getValue(opts.path) }</pre>
    </elem-text3>

    <p>example</p>

    <elem-text3>
      <span class="p:10px-20px bg:white dp:ib mnw:200px mnh:50spx" />
    </elem-text3>

    <h1>elem-toast</h1>
    <p>element which displayes toast message</p>

    <elem-text3 path="html.elem-toast">
      <pre>{ opts.getValue(opts.path) }</pre>
    </elem-text3>

    <p>example</p>

    <elem-toast />

    <elem-toast pos-type="top" />

    <button onclick={handleShowToast()} class="bs:1 bg:black200">
      show toast
    </button>

    <button onclick={handleShowToast(true)} class="bs:1 bg:err">
      show error toast
    </button>


  </div>

  <script>

    this.handleShowToast = (error) => (e) => {
      let elemToasts = this.tags['elem-toast'];
      elemToasts = elemToasts.length ? elemToasts : [elemToasts];
      e.preventUpdate = true;
      !error && elemToasts[0].trigger('message', { ok: !error });
      error && elemToasts[1].trigger('message', { ok: !error });
    }
  </script>

</page-components>
