<page-components>

  <div class="ta:l
    m:40px-0-25px-0_h1 c:grey_h1 fw:300_h1 bd-b:2px-ds-grey200_h1
    fw:600_p m:20px-0-10px_p
    ws:pl_pre ww:nm_pre bg:greya1_pre p:10px_pre dp:ib_pre
    m:10px-0_button p:10px-20px_button mnw:150px_button bg:prim_button c:white_button tr:uc_button fw:600_button fs:80pc_button br:2px_button">

    <h1>elem-text3</h1>
    <p>element which transforms any inner component to editable field</p>

    <elem-text3 path="html.elem-text3">
      <pre>{ opts.getValue(opts.path) }</pre>
    </elem-text3>

    <p>example</p>

    <elem-text3>
      <span class="p:10px-20px bg:white dp:ib mnw:200px mnh:50spx" />
    </elem-text3>

    <h1>elem-toast</h1>
    <p>element which displayes toast message</p>

    <elem-text3 path="html.elem-toast">
      <pre>{ opts.getValue(opts.path) }</pre>
    </elem-text3>

    <p>example</p>

    <elem-toast timestamp={ toast.timestamp } />

    <button onclick={handleShowToast('bottom')} class="fux-boxsh">
      show toast
    </button>


  </div>

  <script>
    this.toast = {};

    this.handleShowToast = (pos) => (e) => {
      this.update({ toast: { timestamp: new Date().getTime(), pos } });
    }
  </script>

</page-components>
