<page-data>

  <navigation routes={ content.routes } active={ route.name } />

  <section class="mxw:800px p-rl:2pc">

    <elem-text
      class="fs:140pc fw:600 p-tb:20px"
      text={ getValue('routes.data.meta.title') }
      cb-extras={ getValue('routes.data.meta.description', 'id') }
      on-edit={ handleEdit } />

    <elem-text
      class="p-tb:20px"
      max={5000}
      text={ getValue('routes.data.meta.description') }
      cb-extras={ getValue('routes.data.meta.description', 'id') }
      on-edit={ handleEdit } />

  </section>

  <div class="p-tb:20px ta:l mxw:800px">
    <elem-leaf
      poinject={poinject}
      extended={extended}
      extend-all={false}
      on-edit={handleEdit}
      on-create={handleCreate}
      on-delete={handleDelete}
      on-upload={handleUpload}
      on-duplicate={handleDuplicate}
      on-extend={handleExtend}
      mode-edit={false} />
  </div>

  <script>
    this.mixin('store');
    //console.log( this.getValue('gallery') )
  </script>

</page-data>
