<page-palette>

  <elem-text
    class="fs:140pc fw:600 p-tb:20px"
    text={ getValue('routes.palette.meta.title') }
    cb-extras={ getValue('routes.palette.meta.description', 'id') }
    on-edit={ handleEdit } />

  <elem-text
    class="p-tb:20px"
    max={5000}
    text={ getValue('routes.palette.meta.description') }
    cb-extras={ getValue('routes.palette.meta.description', 'id') }
    on-edit={ handleEdit } />

  <palette if={!opts.SERVER} />

  <script>
    this.mixin('store');
    if(!!this.opts.SERVER) return;

  </script>
</page-palette>
